/*global*/
body{
    background-color: #f4f4f4;
}
.sf-container{
    min-height: 80vh;
}
a{
    color:#333;
}
a:hover{
    /*color:#FF9400;*/
    color:#023a8c;
    text-decoration: none;
}

/*header*/
 .sf-header {
    padding-left: 0;
    padding-right: 0;
    height: 180px;
    box-shadow:0 5px 15px rgba(153, 153, 153, 0.1)
}

/*top*/
.sf-header .sf-top {
    background-color: #033a8d;
    height: 48px;
    padding-left: 0;
    padding-right: 0;
}

.sf-top .content{
    display:-webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
}

/** 搜索框相关 **/
.sf-top .content .welcome{
    color:#fff;
    font-size: 0.8rem;
    margin-right: 2rem;
}

.p1-search-1-inp {
    width: 270px;
    height: 30px;
    border-radius: 20px;
    background: #fff;
    padding-left: 16px;
    margin-right: 20px;
}

.p1-search-1-inp input {
    border: 0;
}

.p1-search-1-inp1 {
    width: 224px;
    height: 30px;
    line-height: 30px;
    color: #a9a9a9;
    float: left;
}

.p1-search-1-inp2 {
    width: 30px;
    height: 30px;
    background: url(../images/search.png) no-repeat -0px -0px;
    background-size: 30px;
    float: right;
    cursor: pointer;
}

.sf-header .sf-bottom{
    display: flex;
    background-color: #fff;
    height: 132px;
    justify-content: space-between;
}

.sf-header .sf-bottom .sf-logo-text{
    width: 30rem;
    left: 12rem;
    position: relative;
    padding-top: 2rem;
}

.sf-logo-text h4{
  font-weight: 400;
}

.sf-logo-text em{
    font-size: 1rem;
}

.sf-bottom .sf-nav{
    display: flex;
  	justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.sf-bottom .bg-light{
    background-color: #fff !important;
}

.navbar-light .navbar-nav .active > .nav-link{
    color:#023a8c;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-item > a:hover{
    color:#023a8c;
}

.sf-header .sf-logo{
    position: absolute;
    width: 173px;
    height: 168px;
    top: 10px;
    left: 20px;
}

.center-content .desc-container .card{
    border: 0;
    background:#fff url(../images/ppbg-3.jpg) no-repeat 50% 0;
	background-size:contain;
    height: 30rem;
}

.center-content .desc-container .card .card-img-overlay{
    max-width: 640px; 
    left: 48%;
    padding-top: 10%;
}


.ellipsis-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.ellipsis-1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}


.center-content .card .card-program{
    background: url(../images/fabg.jpg) no-repeat 50% 0;
    padding-top:  4rem;
}

.card .title-box{
    text-align: center;
}

.title-box h3{
    color: #023a8c;
 }

.card .card-program .card-program-tabs{
    margin-top: 6rem;
}

.tab-content .tab-pane .tab-box{
    display: flex;
}

.paddingHroz-no{
    padding-left: 0;
    padding-right: 0;
}

.paddingHroz-1rem{
    padding-left: 1rem;
    padding-right: 1rem;
}

.tab-content .tab-pane .andesc{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}


.center-content .card .card-case{
    background: #FFF;
    margin-top: 8rem;
}

.card-case .title-box{
    padding-top: 3rem;
}


.card-case-tabs{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    margin-top: 2rem;
}
.card-case-tabs .case-tabs {
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.case-item .nav-link {
    display: flex;
    flex-direction: row;
}

.card-case-tabs .case-tabs .case-item{
    display: flex;
    flex: 1;
}

.card-case-tabs .case-tabs .case-item a:hover{
    display: flex;
    flex: 1;
    background-color: #f3f4f5;
}

.card-case-tabs .case-tabs .case-item .nav-link .desc{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.card-case-tabs .case-tabs .case-item .icon_bg{
    width: 5.8rem;
    height: 6.4rem;
}

.card-case-tabs .case-tabs .case-item .icon{
    width: 1rem;
    height: 1rem;
    rotate: 90deg;
    margin-top: 4rem;
    margin-left: 0.2rem;
}

.card-case .tab-box{
    display: flex;
}

.card-case .tab-box .box-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 0.5rem;
}

.box-left .andesc{
    padding: 1rem;
    background-color: #e2e2e2;
}



.card-case .tab-box .box-right{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.card-case .tab-box .box-right .box-img{
    display: flex;
    flex-wrap: wrap; 
}

.card-case .tab-box .box-right .box-img-desc{
    display: flex;
    flex-wrap: wrap;
    background:url(../images/lctel.png) no-repeat;
    width: 30rem;
    align-self: center;
    margin-top: 3rem;
    padding: 0.8rem;
}

.box-img-desc span{
    color: #FFF;
    font-size: 1rem;
    margin-left: 4rem;
}


.card-case .tab-box .box-right .card-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-case .tab-box .box-right .card-overlay h5{
    color: #fff;
    margin-top: -30px;
    padding-left: 10px;
    padding-right: 10px;
    z-index:101;
    display: inline-block;
    white-space: nowrap; 
    width: 15rem; 
    overflow: hidden;
    text-overflow:ellipsis;
}

.overFlow{
    background:#000000 none repeat scroll 0 0;
    height:36px;
    margin-top: -40px;
    width:96%;
    z-index:100;
    left:5px;
    opacity:0.6 !important; /*专用于FF*/
    filter: Alpha(Opacity=30); /*专用于IE*/
} 

.imgHoverZoom{float:left;margin:5px;overflow:hidden;}
.imgHoverZoom img{
height:195px;
-webkit-transition: -webkit-transform .3s ease;
-moz-transition: -moz-transform .3s ease;
-ms-transition: -ms-transform .3s ease;
transition: transform .3s ease;
}
.imgHoverZoom img:hover{
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2)
}


.center-content .card .card-product{
    background: url(../images/cpbg.jpg) no-repeat 50% 0;
    margin-top: 3rem;
}

.card-product .title-box{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}

.card-product .product-container{
    display: flex;
    margin-top: 0.6rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.product-container .pro-menu{
    background-color: #FFF;
}
.product-container .pro-menu .menu-title{
    background: url(../images/fltit.jpg) no-repeat;
    width: 242px;
    height: 157px;
    color: #fff;
}

.pro-menu .menu-title .text{
    position: relative;
    top: 100px;
    left: 50px;
}


.product-container .card-pro-tabs{
    margin-top: 2rem;
    margin-left: 2rem;
}

.card-pro-tabs .tab-content .cplst{
    padding-left: 0;
    padding-right: 0;
}

.card-pro-tabs .tab-content .cplst li{float: left;width: 288px;margin-right: 16px;transition: all 0.3s linear 0s;list-style:none;}
.card-pro-tabs .tab-content .cplst .lastli{margin-right: 0;}
.card-pro-tabs .tab-content .cplst li img{width: 288px;height: 215px;display: block;border: 1px solid #e2e2e2;}
.card-pro-tabs .tab-content .cplst li:hover{ transform: translateY(-10px);}
.card-pro-tabs .tab-content .cplst li em{display: block;width: 288px;background:url(../images/cpico.jpg) no-repeat right 10px;font-size: 14px;color: #252525;height: 46px;line-height: 46px;overflow: hidden;}

.pro-menu .flc{background: #fff;}
.pro-menu .flc h4{background:url(../images/flh2.jpg) no-repeat;margin: 20px auto 0;width: 174px;}
.pro-menu .flc h4 a{color: #252525;width: 174px;height: 36px;line-height: 36px;font-size: 16px;color: #252525;font-weight: bold;text-align: center; display: block;}
.pro-menu .flc h4 a:hover{background:url(../images/flh2h.jpg) no-repeat;color: #fff;}
.pro-menu .flc .flst{padding-top: 10px; display:none;}
.pro-menu .flc .db{display:block;}
.pro-menu .flc li{height: 42px;line-height: 42px;border-bottom: 1px solid #efefef;text-align: center;overflow: hidden;font-size: 16px;color: #666666; width: 174px;list-style: none;}
.pro-menu .flc li a{color: #666666;}

.demo{padding: 1em 0;}
a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.box-tab .nav-tabs{
    border: 1px solid #e2e2e2;
}
.box-tab .nav-tabs li{
    margin: 0;
}
.box-tab .nav-tabs li a{
    font-size: 14px;
    color: #1d1d1d;
    background: #fff;
    margin: 0;
    padding: 20px 25px;
    border-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
}
.box-tab .nav-tabs li a:hover{
    border-top: none;
    border-bottom: none;
    border-right-color: #ddd;
}
.box-tab .nav-tabs li a.active,
.box-tab .nav-tabs li a.active:hover{
    color: #fff;
    border: none;
    background: #033a8d;
    border-right: 1px solid #ddd;
}
.box-tab .nav-tabs li a.active:before{
    content: "";
    width: 58%;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.box-tab .nav-tabs li a.active:after{
    content: "";
    border-top: 10px solid #033a8d;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 43%;
}
.box-tab .tab-content{
    font-size: 13px;
    color: #999898;
    line-height: 25px;
    background: #fff;
    padding: 20px;
    border: 1px solid #e2e2e2;
    border-top: none;
}

@media only screen and (max-width: 480px){
    .box-tab .nav-tabs li{
        width: 100%;
        text-align: center;
    }
    .box-tab .nav-tabs li.active a,
    .box-tab .nav-tabs li.active a:after,
    .box-tab .nav-tabs li.active a:hover{
        border: none;
    }
}

.center-content .card .card-aboutme{
    background-color: #FFF;
    margin-top: 3rem;
}

.card-aboutme .title-box{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}


.card-aboutme-tabs .tab-content .m_ysbd {position: relative;}
.card-aboutme-tabs .tab-content .m_ysbd dd{position: absolute;left:49px;top:220px;}
.card-aboutme-tabs .tab-content .m_ysbd h3{height: 60px;font-size: 30px;font-weight: normal;color: #000000;}
.card-aboutme-tabs .tab-content .m_ysbd h3 em{display: block;font-size: 20px;color: #777777;font-weight: normal;padding-top: 6px;}
.card-aboutme-tabs .tab-content .m_ysbd p{background:url(../images/ysico.jpg) no-repeat 0 7px; padding-left: 30px;line-height: 20px;font-size: 14px;color: #333333; width:336px; }

.center-content .card .card-live{
    background-color: #FFF;
    margin-top: 2rem;
}

.card .card-live .card-live-content{
    display: flex;
    margin-top: 2rem; 
}

/* .card-live-content .live-content{float: left;} */
.card-live-content .live-content h3{border-top: 3px solid #f6f6f6;padding-top: 24px;height: 108px;font-size: 26px;font-weight: bold;color: #2a2a2a;}
.card-live-content .live-content h3 a{color: #2a2a2a;}
.card-live-content .live-content h3 em{display: block;font-size: 14px;color: #666666;padding-top:5px;font-weight: normal;}

/* .card-live-content .honor-content{padding-left: 1rem;padding-right: 1rem; background-color: red;} */
.card-live-content .honor-content h3{border-top: 3px solid #f6f6f6;padding-top: 24px;height: 108px;font-size: 26px;font-weight: bold;color: #083ea0;}
.card-live-content .honor-content h3 a{color: #083ea0;}
.card-live-content .honor-content h3 em{display: block;font-size: 14px;color: #666666;padding-top:5px;font-weight: normal;}

/* 服务流程 */
.g_lc{background:url(../images/lcbg.jpg) no-repeat center top;height: 582px;padding-top: 61px;}
.g_lc h2{height: 123px;text-align: center;font-size: 36px;color: #044692;font-weight: bold;}
.g_lc h2 em{display: block;font-weight: normal;font-size: 22px;color: #333333;padding-top: 6px;}
.g_lc ul{height: 300px;}
.g_lc li{position: relative; float: left;width: 149px;text-align: center;font-size: 15px;color: #555555;border-right: 1px solid #f1f1f1;height: 42px; padding-top: 140px;list-style: none;}
.g_lc li i{position: absolute;background:url(../images/lchover.png) no-repeat;width: 158px;height: 30px;left:0;top:202px;display: none;}
.g_lc li:hover i{display: block; }
.g_lc li:hover {background: #083ea0;color: #fff;font-weight: bold;height: 183px}
.g_lc li span{position: absolute;left:28px;top:30px;background:url(../images/lcico.png) no-repeat;}
.g_lc li em{position: absolute;left:28px;top:30px;display: none;background:url(../images/lch.png) no-repeat;}
.g_lc li:hover em{display: block;}
.g_lc .lctel{background:url(../images/lctel.png) no-repeat;width: 476px;height: 50px;line-height: 50px;margin: 0 auto; margin-top: -15px;}
.g_lc .lctel span{display: block;float: left;width: 190px;height: 50px;line-height: 50px;text-align: center;font-size: 16px;font-weight: bold;color: #000000;}
.g_lc .lctel span a{color: #000000;}
.g_lc .lctel em{display: block;float: left;width:286px;text-align: center;font-size: 18px;font-weight: bold;color: #fff;}


.center-content .card .card-news{
    background: #FFF;
}

.card-news .title-box{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card .card-news .card-news-content{
    display: flex;
    height: 500px;
    /* background-color: #083ea0; */
    padding-left: 2rem;
    padding-right: 2rem;
}

.card-news-content .news-left{
    height: 500px;
}

.news-left .card-news-tabs{
    margin-top: 5px;
}

.news-left .newslst{
    /* background-color: #f0f; */
    padding-left: 0px;
}
.news-left .newslst li{
    display: flex;
    flex-direction: row;
    height: 130px;
    border-bottom:solid #ddd 1px;
     list-style: none;
     margin-top: 10px;
     /* background-color: #ff0; */
}

.news-left .newslst li img{
    width: 9rem;
    height: 7rem;
    border-radius:4px;
    margin-top: 6px;
    border:solid #666 1px;
}

.newslst li .answer-main {
    float: left;
    min-height: 100px;
    padding-left: 20px;
    width: 38rem;
}

.answer-main .answer-main-tit{width:605px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.answer-main a.an-tit{font-size:18px; font-weight:bold; color:#333; line-height:40px;}
.answer-main a.an-tit-small{display:block; font-size:14px; color:#666; line-height:24px;height:48px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;}
.answer-main-bottom{overflow:hidden; padding-top:5px;}
.answer-main-bottom span,.answer-main-bottom a{float:left; font-size:12px; color:#006eb7;}
.answer-main-bottom a:hover,.answer-main a.an-tit:hover{color:#006eb7;}
.answer-main-bottom p{float:right; font-size:12px; color:#999;}

.card-news-content .news-right{
    height: 500px;
}

.news-right .news-header{
    height: 48px;
    background-color: #FFF;
    border-bottom: 2px solid #efefef;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
}

.news-header h5{
    margin-top: 0.8rem;
    flex: 1;
}

.news-header h6{
    margin-top: 1rem;
}

.news-right .news-body{
    padding-left: 0;
    padding-right: 0;
    margin-top: 1rem;
}

.news-body .card .card-body{
    padding: 0.75rem;
}

.news-body .card .card-body .card-text{
    display: flex;
    flex-direction: row;
}
.news-body .card .card-body .card-text small{
    flex: 1;
}

.news-body .card .card-body .card-text em{
    color: #006eb7;
    font-size: 0.8rem;
}

.footerBox{background:#333}
.foo_right{padding-right:50px;}
.footerBox .wrap{padding:50px 0 30px}
.foo_right .friendship_box{margin:12px 20px;sor:pointer}
.foo_right .friendship_box .wx{margin-right:20px}
.footerBox .wrap_l{height:162px;position:relative; }
.wrap_l li{width:180px;float:left;font-size:16px;color:#fff;font-family:微软雅黑;list-style:none}
.wrap_l span{margin-bottom:18px;display:inline-block;}
.wrap_l ul li a{font-size:12px;color:#bcbcbc;height:24px;line-height:24px;display:inline-block;margin-bottom:4px;font-family:微软雅黑;}
.wrap_l ul li ul li{ margin-left: -38px;}
.footer_bj{width:120px;height:120px;background:#fff}
.friendship_box .wx{width:30px;height:30px;background:url(../images/wx1.png) left center no-repeat}
.friendship_box .wb{width:30px;height:30px;background:url(../images/wb1.png) left center no-repeat}
.friendship_box .wx2{width:30px;height:30px;background:url(../images/wx2.png) no-repeat}
.friendship_box .wb2{width:30px;height:30px;background:url(../images/wb2.png) no-repeat}
.bj1{width:120px;height:120px;background:url(../images/wx_01.jpg) left center no-repeat}
.bj2{width:120px;height:120px;background:url(../images/wb02.png) left center no-repeat;display:none}
.footerBox .wrap_l .img{margin:10px 10px 0 10px;sor:pointer}
.footer_box{width:100%;background:#000}
.footer_bar{height:80px;padding-bottom:16px}
.footer_txt{text-align:center}
.footer_txt a{height:32px;line-height:32px}
.footer_bar .footer_txt .footer_text,.footer_bar .footer_txt a{height:18px;color:#b0b0b0;text-align:center;padding:0 6px;display:inline-block}
.footer_bar ul li a{float:left;font-size:12px;margin:0 8px}
.footer_img{text-align:center;margin-top:12px}
.footer_img img{width:72px;height:27px;margin:0 24px}

.clearfix:after{content:"";display:block; clear:both;}
.clearfix{zoom:1;}
.fl{ float:left;}
.fr{ float:right;}